<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus on-keyup="createTodo:{{newTodo}}" value="{{newTodo}}">
  </header>
  <!-- This section should be hidden by default and shown when there are todos -->
  <section class="main">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      {{#if todos}}
        {{#each todos:index}}
          <li class="
            {{ this.completed ? 'completed' : '' }}
            {{ this.editing ? 'editing' : '' }}
            {{ path === '/active' && this.completed ? 'hidden' : ''}}
            {{ path === '/completed' && !this.completed ? 'hidden' : ''}}
          " >
            <div class="view">
              <input class="toggle" type="checkbox" checked="{{this.completed}}" on-change="updateCompletion">
              <label on-dblclick="editTodo">{{this.value}}</label>
              <button class="destroy" on-click="destroyTodo:{{index}}"></button>
            </div>
            <input class="edit" value="{{this.value}}" on-keyup="editingValue">
          </li>
        {{/each}}
      {{/if}}
      <li>
    </ul>
  </section>
  {{#if todos}}
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"><strong>{{notCompletedCount}}</strong> item{{#if todos.length !== 1}}s{{/if}} left</span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a {{#if path === '/'}}class="selected"{{/if}} href="#/">All</a>
        </li>
        <li>
          <a {{#if path === '/active'}}class="selected"{{/if}} href="#/active">Active</a>
        </li>
        <li>
          <a {{#if path === '/completed'}}class="selected"{{/if}} href="#/completed">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed" on-click="clearCompleted">Clear completed</button>
    </footer>
  {{/if}}
</section>

{{> footer}}